*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}

/*Header */
header{
    background-color: green;
}

/*Main content*/
main{
    background-color: beige;
    /* Make main element to push footer down*/
    flex: 1 0 auto;
}

/*Footer*/
footer{
    background-color: brown;
}