/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Rubik', sans-serif;
}

/*Header */
header{
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 95;
    width: 100%;
    box-shadow: 0 3px 3px grey;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'Verdana', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: darkslategray;
}

#menu{
    font-size: 115%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li{
    margin-bottom: 1.5em;
}

.active {
    border-bottom: 1.5px solid #3a3a3a;
}

/*Navbar styles with dropdown toggle*/
nav{
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px grey;  
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label{
    font-size: 1.5rem;
}


/*Main content*/
main{
    background-color: beige;
    /* Make main element to push footer down*/
    flex: 1 0 auto;
    margin-top: 75px;
}

/*Footer*/
footer{
    background-color: brown;
}